@charset "UTF-8";

* {
	margin: 0px;
	list-style: none;
	padding: 0px;
	font-family: Montserrat,Nanum Barun Gothic,sans-serif;
}
header{
	position: fixed;
	top:0px;
	height: 74px;
	width: 100%;
	background-color: green;
	margin-bottom: 10px;
	z-index: 9999;
}
section{
	margin-top:74px;
	width: 100%;
	min-height: 800px;
	overflow: hidden;
}
footer{
	width: 100%;
	height: 969px;
	background-color: maroon;
	color: white;
	text-align: center;
}

.main{
	top:76px;
	width: 100%;
	min-height: 900px;
	margin-top: 74px;
	overflow: hidden;
}
.left{
	width: 240px;
	min-height: 650px;
	float: left;
}
.right{
	width: 1613px;
	height: inherit;
	float: left;
}

.right-h1{
	color: black;
	margin-bottom: 55px;
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.login-img{
	width: 65%;
	background-color: black;
	height: inherit;
	float: left;
}

.login{
	width: 35%;
	height: inherit;
	float: left;
}
.login-form{
	width:100%;
	height:853px;
	margin-top: 116px;
}
.login-form-tt{
	width: 500px;
	margin:auto;
	padding-top: 30px;
	height: 80%;
}
.login-form-tt-box{
	margin-top: 0;
	width:100%;
	height:85px;
	margin-bottom: 30px;
	text-align: center;
}
.login-form-tt-name{
	font-weight: bold;
	font-size: 19px;
	color: black;
	text-align:center;
	letter-spacing: -1px;
	padding-bottom: 15px;
}

.login-form-table{
	width: 445px;
	height: 567px;
	margin:55px auto;

}
.login-form-id{
	width: 100%;
	height: 53px;
	
	color: white;
	
}
.login-form-id-ip{
	width : 95%;
	height:28px;
	line-height: 28px;
	padding: 2px 2px 2px 3px;
	border: 0 none;
	margin-bottom: 5px;
	color: #000;
	font-size: 15px;
	border-bottom: 1px solid #d3d3d3;
}
.login-form-pw{
	width: 100%;
	height: 53px;
	margin-top:33px;
	color: white;
}
.login-form-pw-ip{
	width : 95%;
	height:28px;
	line-height: 28px;
	padding: 2px 2px 2px 3px;
	border: 0 none;
	margin-bottom: 5px;
	color: #000;
	font-size: 15px;
	border-bottom: 1px solid #d3d3d3;
}
.login-form-btn{
	width: 100%;
	height: 56px;
	margin-top: 16px;
}
.btn-login{
	cursor: pointer;
	width:calc(98%/2);
	height:56px;
	color: white;
	background-color:black;
	text-align: center;
	padding: 18px 0;
	font-size: 15px;
	text-decoration: none;
	float: left;
	border: 0 none;
}
.login-form-find{
	text-align:center;
	width: 100%;
	height: 19px;
	line-height: 19px;
	margin-top: 52px;
	font-size: 15px;
}
.sns-area{
	color: #2e2e2e;
	overflow: hidden;
	border: 0;
	clear: both;
	padding: 0;
	text-align: center;
	margin: 50px auto;
}

.sns-area li{
	margin: 10px 0 10px 0;
	width: 100%;
}

.sns-btn{
	padding: 0 7px 0 11px;
	font-size: 14px;
	text-decoration: none;
	width: 100%;
	font-weight:bold;
	height: 40px;
	display: block;
	line-height: 40px;
	transition-duration: 0.3s;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.join-table{
	border: 1px solid #eaeaea;
	border-left: none;
	border-right: none;
}
.join-table th{
	padding: 14px 0 15px 18px;
	width: 132px;
	height: 18px;
	color: black;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
}

.join-table td{
	color : black;
	width:1433px;
	height:32px;
	line-height: 1.5;
	text-align: left;
	font-size: 12px;
	padding: 8px 10px 7px;
}

.join-table input{
	width:168px;
	height: 18px;
	line-height: 20px;
	padding: 2px 4px;
	border: 1px solid #d5d5d5;
	background-color:white;
	font-size: 12px;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.join-all-check{
	padding: 20px;
	margin:auto;
	border:1px solid #d7d5d5;
	font-size: 12px;
}
.join-check-p {
	height: 22px;
	line-height: 22px;
}
.join-check-p *{
	float: left;
}

.join-check{
	padding: 20px;
	margin:auto;
	border:1px solid #d7d5d5;
	margin-top: -1px;
	font-size: 12px;
}

.join-check h4{
	height: 20px;
	margin-bottom: 10px;
	font-weight: bold;
}
.join-check-comment{
	color:#757575;
	overflow: auto;
	height: 110px;
	padding: 20px;
	border: 1px solid #d5d5d5;
	font-size: 12px;
}
.join-btn{
	margin: 60px 0;
	padding: 10px 0;
	text-align: center;
}
.mem-btn{
	background-color: white;
	color: #555555;
	font-size: 12px;
	padding: 10px 35px;
	text-align: center;
	border: 1px solid #eaeaea;
	min-width:130px;
	height: 36px;
	cursor: pointer;
}

.mem-btn:hover{
	border: 1px solid #555555;
	font-weight: bold;
}
#member-btn{
	font-size: 12px;
	padding: 10px 35px;
	text-align: center;
	min-width:130px;
	height: 36px;
	cursor: pointer;
	background-color: #555555;
	color: white; 
	border: 1px solid #555555;
}


#member-btn:hover{
	background-color: white;
	color: #555555;
	font-weight: bold;
	border: 1px solid #555555;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.left-menu{
	position:fixed;
	left:50px;
	top:33%;
	width: 200px;
	height: 328px;
}
.left-list{
	margin-bottom: 19px;
}
.left-list li{
	height: 20px;
	line-height: 20px;
}
.left-list a{
	font-size: 11px;
	text-decoration: none;
	color: #787878;
}
#phone{
	width : 50px;
	height: 18px;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.info{
	padding: 10px 0;
	width: 99%;
	margin:auto;
	height: 70px;
	border: 1px solid #eaeaea;
	margin-bottom: 20px;  
}
.info-image{
	padding: 0 15px;
	float: left;
}
.info-rank{
	border-left: 1px solid #eaeaea;
	float: left;
	font-size: 11px;	
	padding: 10px 10px;
	height: 50px;
	line-height: 2em;
}
.info-table{
	width: 99%;
	margin: auto;
	font-size: 12px;
	font-weight: normal;
	border-collapse: collapse;
}
.info-table tr{
	height: 48px;
	border-collapse: collapse;
}

.info-table th{
	width:150px;
	border: 1px solid #eaeaea;
	border-left: none;
	font-weight: normal;
	border-collapse: collapse;
	line-height: 1.5;
	padding: 14px 0 15px 18px;
	text-align: left;
}
.info-table td{
	border: 1px solid #eaeaea;
	border-right: none;
	font-weight: normal;
	border-collapse: collapse;
	line-height: 1.5;
	padding: 8px 0 10px 7px;
	text-align: left;
}
.info-table input{
	border: 1px solid #eaeaea;
	font-size: 12px;
	font-weight: normal;
	height: 20px;
	padding: 2px 4px;
	vertical-align: middle;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.ajax-bar{
	width: 100%;
	height: 43px;
	margin-bottom: 20px;
}
.btn-list-sel{
	font-size: 12px;
	width: 200px;
	padding: 12px 5px 13px;
	text-align: center;
	border: 1px solid #555;
	color: #fff;
	font-weight: bold;
	background: #555;
	float: left;
}
.btn-list{
	font-size: 12px;
	width: 200px;
	padding: 12px 5px 13px;
	text-align: center;
	border: 1px solid #cbcdce;
	color: #707070;
	background: white;
	float: left;
}

.cal-bar{
	width: 100%;
	height: 114px;
}

.search-div{
	width: 1616px;
	height: 66px;
	border: 1px solid #eaeaea;
}
.search-form{
	width: 1578px;
	height: 26px;
	padding: 20px;
	background: white;
}
.search-form div{
	float: left;
}
#order_status{
	width: 123px;
	height: 22px;
	border: 1px solid #eaeaea;
	font-size: 12px;
	margin : 0 17px 0 2px;
}
.btn-search{
	border: 1px solid #eaeaea;
	font-size: 12px;
	background: white;
	height : 24px;
	width : 39px;
	color: #939393;
}

.btn-search:hover{
	background: #555555;
	color: white;
	border: #555555;
}

.ip-cal{
	vertical-align: middle;
	color: #353535;
	width: 72px;
	height: 22px;
	margin: 0 0 0 2px;
	padding: 0 6px;
	border: 1px solid #d5d5d5;
	line-height: 22px;
	font-size: 12px;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.order-title{
	margin: 40px 0 10px 10px;
	
}

.no-order{
	padding: 50px 0;
	text-align: center;
	color: #757575;
	font-weight: bold;
	font-size: 12px;
	margin: -1px 0 0;
	border-bottom: 1px solid #eaeaea;
}

.order-table{
	margin-top: 10px;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	font-size: 12px;
}
.order-table p{
	color: #353535;
	margin-top: 10px;
	
}
.order-table th{
	font-weight:normal;
	padding: 14px 0 15px;
	font-size: 12px;
	height: 36px;
	border: 1px solid #eaeaea;
	
}

.order-table td{
	text-align:center;
	vertical-align:middle;
	height: 116px;
	border: 1px solid #eaeaea;
}
.order-table a{
	text-decoration: none;
	font-size: 12px;
	color: black;
}
.or-order_num{
	width: 135px;
}
.or-image{
	width: 93px;
}
.or-pro_info{
	width: 981px;
}
.or-pro_count{
	width: 61px;
}
.or-price{
	width: 111px;
	font-weight: bold;
}
.or-order_status{
	width: 111px;
}
.or-order_result{
	width: 111px;
}

.or-pager{
	margin: 30px 0;
	height: 30px;
	text-align: center;
}
.btn-pager{
	border:none;
	background: none;
	color: #979797;
	padding: 4px 7px;
	font-size: 12px;
	text-decoration: none;
}
.btn-pager:hover{
	border:none;
	background: none;
	border-bottom: 1px solid black;
	color: black;
	font-weight: bold;
}

#none-hover{
	border: none;
	color: #979797;
	padding : 4px 3px;
	font-weight: normal;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


.ws-table{
	margin-top: 10px;
	padding: 0;
	margin: 0;
	border-collapse: collapse;
	font-size: 12px;
}

.ws-table th{
	line-height: 1.5;
	font-size: 12px;
	padding: 14px 0 15px;
	border: 1px solid #eaeaea;
	color: #353535;
	vertical-align: middle;
}

.ws-table td{
	border-spacing: 0;
	border-collapse: collapse;
	line-height: 1.5;
	height:116px;
	font-size: 12px;
	text-align: center;
	border-bottom: 1px solid #eaeaea;
	color: #353535;
	vertical-align: middle;
	padding: 14px 0px 15px 0;
}

.ws-checkBox{
	border-left: 0;
	width: 27px;
}

.ws-image{
	width: 92px;
}

.ws-pro_info{
	width: 879px;
}

.ws-pro_price{
	width: 105px;
}
.ws-point{
	width: 100px;
}
.ws-deli{
	width: 100px;
}
.ws-deli_cost{
	width: 85px;
}
.ws-pro_sum{
	width: 105px;
}
.ws-btn{
	width: 110px;
}

.ws-btn{
	border-right: 0;
}

.wish-btn{
	cursor: pointer;
	text-align: center;
	font-size: 11px;
	border: none;
	height:27px;
	width: 84px;
	color:#555555;
	background:white;
	vertical-align: middle;
	border-radius: 1px;
	margin-bottom: 5px;
	border: 1px solid #eaeaea;
}

.wish-cart-btn:hover{
	font-weight: bold;
	border: 1px solid #555555; 
}

.wish-del-btn:hover{
	font-weight: bold;
	border: 1px solid #555555;
}

.wish-order-btn{
	background: #555555;
	border:1px solid #555555;
	color: white;
}

.wish-order-btn:hover{
	background: white;
	color: #555555;
	border: 1px solid #555555;
	font-weight: bold;
}

.wish-btn-group{
	margin: 10px auto;
	height: 48px;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

#wish-del-check{
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	width: 100px;
	background: white;
	margin: 0 5px 0 10px;
	border: 1px solid #eaeaea;
	color: #555555;
	padding: 5px 0 6px 0;
}

#wish-del-check:hover{
	font-weight: bold;
	border: 1px solid #555555;
}

#wish-cart-check{
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	width: 100px;
	margin: 0;
	background: #555555;
	border: 1px solid #555555;
	color: white;
	padding: 5px 0 6px 0;
}

#wish-cart-check:hover{
	border: 1px solid #555555;
	background: white;
	color: #555555;
	font-weight: bold;
}

#wish-order-all{
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	width: 120px;
	margin: 0 5px;
	background: #555555;
	border: 3px solid #555555;
	color: white;
	padding: 10px 0 12px 0;
}

#wish-order-all:hover{
	background: white;
	color: #555555;
}

#wish-del-all{
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	width: 120px;
	background: white;
	margin: 0 5px;
	border: 3px solid #eaeaea;
	color: #555555;
	padding: 10px 0 12px 0;
}

#wish-del-all:hover{
	border: 3px solid #555555;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.wish-pager{
	clear:both;
	margin: 20px auto;
	height:34px;
	width:100%;
	text-align: center;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.cart-mem-info{
	width: 99.875%;
	height: 91px;
	margin: 20px auto;
	border: 1px solid #eaeaea;
}

.cart-info-h1{
	width: 6.5%;
	height: 71px;
	margin: 10px 0;
	float: left;
	text-align: center;
	border-right: 1px solid #eaeaea;
}

.cart-info-mem{
	width: 92%;
	height: 71px;
	margin: 10px 10px;
	float: left;
	color: #e8e8e8;
	font-size: 12px;
	color: #404040;
}
/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.cart-ajax{
	margin-top: 40px;
	min-height: 750px;
	overflow: hidden;
}

.cart-ajax-bar{
	width: 99.875%;
	height: 43px;
}

.cart-ajax-table{
	width: 99.85%;
}

.cart-table-title{
	width: 99.5%;
	height: 36px;
	border: 1px solid #eaeaea;
	background: #f6f6f6;
	margin: 20px auto 0;
}
.cart-table-title p{
	font-size: 12px;
	line-height: 36px;
	color: black;
	font-weight: bold;
	margin-left: 15px;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.cart-table{
	margin: 0;
	margin: 3px auto 0;
	padding: 0;
	font-size: 12px;
	border-collapse: collapse;
}

.cart-table th{
	height: 18px;
	line-height: 1.5;
	font-size: 12px;
	padding: 14px 0 15px;
	border: 1px solid #eaeaea;
	color: #353535;
	vertical-align: middle;
}

.cart-table td{
	height: 117px;
	line-height: 1.5;
	font-size: 12px;
	padding: 14px 0 15px;
	border: 1px solid #eaeaea;
	color: #353535;
	vertical-align: middle;
}

.cart-checkBox{
	width: 27px;
}

.cart-image{
	width: 92px;
}

.cart-pro_info{
	width: 815px;
}

.cart-price{
	width: 98px;
}

.cart-count{
	width: 75px;
}

.cart-point{
	width: 98px;
}

.cart-deli{
	width: 98px;
}

.cart-deli-cost{
	width: 85px;
}

.cart-sum{
	width: 98px;
}

.cart-btn-group{
	width:110px;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.cart-btn{
	cursor: pointer;
	text-align: center;
	font-size: 11px;
	border: none;
	height:27px;
	width: 84px;
	color:#555555;
	background:white;
	vertical-align: middle;
	border-radius: 1px;
	margin-bottom: 5px;
	border: 1px solid #eaeaea;
}

.cart-order-btn{
	background: #555555;
	border:1px solid #555555;
	color: white;
}


.cart-order-btn:hover{
	background: white;
	color: #555555;
	border: 1px solid #555555;
	font-weight: bold;
}

.cart-wish-btn:hover{
	font-weight: bold;
	border: 1px solid #555555; 
}

.cart-del-btn:hover{
	font-weight: bold;
	border: 1px solid #555555; 
}

.cart-warning{
	text-align:left;
	border: 1px solid #eaeaea;
	border-left: 0;
	border-right: 0;
	width: 99%;
	height: 32px;
	margin: 20px auto 15px;
	font-size: 11px;
	color: #555555;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.cart-btn-menu1{
	width: 99%;
	margin: auto;
}

.cart-btn-menu2{
	clear:both;
	width: 99%;
	margin: auto;
}

#cart-del-check{
	list-style: none;
	font-family: Montserrat,Nanum Barun Gothic,sans-serif;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	width: 100px;
	background: white;
	margin: 0 5px 0 10px;
	border: 1px solid #eaeaea;
	color: #555555;
	padding: 5px 0 6px 0;
}
#cart-del-check:hover{
	font-weight: bold;
	border: 1px solid #555555;
}

#cart-wish-check{
	list-style: none;
	font-family: Montserrat,Nanum Barun Gothic,sans-serif;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	width: 100px;
	background: #555555;
	margin: 0 5px 0 10px;
	border: 1px solid #555555;
	color: white;
	padding: 5px 0 6px 0;
}
#cart-wish-check:hover{
	font-weight: bold;
	color:#555555;
	background:white;
	border: 1px solid #555555;
}



.cart-big-btn{
	list-style: none;
	font-family: Montserrat,Nanum Barun Gothic,sans-serif;
	line-height: 20px;
	cursor: pointer;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	width: 120px;
	background: white;
	margin: 0 5px;
	border: 3px solid #eaeaea;
	color: #555555;
	padding: 10px 0 12px 0;
}

#cart-del-all{
	float: right;
}

#cart-del-all:hover{
	border: 3px solid #555555;
} 

#cart-order-all{
	background: #555555;
	color: white;
	border-color: #555555;
}

#cart-order-all:hover{
	border-color: #eaeaea;
}

#cart-order-check:hover{
	border-color: #555555;
}

#cart-shoping:hover{
	border-color: #555555;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

.cart-check-view{
	width: 99%;
	clear: both;
	margin: 30px auto 20px;
	display: none;
}

.cart-view-table{
	margin: 0;
	margin: 3px auto 0;
	padding: 0;
	font-size: 14px;
	border-collapse: collapse;
}

.cart-view-table th{
	height: 39px;
	padding: 14px 0 15px;
	border: 1px solid #eaeaea;
	border-top: 2px solid black;
	color: #353535;
	font-weight:bold;
	vertical-align: middle;
}

.cart-view-pro{
	width: 272px;
}

.cart-view-deli{
	width: 304px;
}
.cart-view-price{
	width: 1027px;
}

.cart-view-table td{
	height:34px;
	line-height: 1.5;
	font-size: 23px;
	padding: 14px 0 15px;
	border: 1px solid #eaeaea;
	color: #353535;
	font-weight:bold;
	vertical-align: middle;
	border-bottom: 2px solid black;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/


.cart-using-info{
	width:99%;
	margin-top: 40px; 
}

.cart-using-table{
	width: 98%;
	margin: 0;
	padding: 0;
	font-size: 12px;
	margin: 0 auto;
	border-collapse: collapse;
	
}


.cart-using-table th{
	height: 18px;
	padding: 14px 10px 15px;
	background: #eaeaea;
	border:1px solid #eaeaea;
	color: #555555;
	text-align: left;
}

.cart-using-table td{
	color:#404040;
	height: 250px;
	padding: 0 9px 12px;
	text-align: left;
	border:1px solid #eaeaea;
}

.cart-using-table td h4{
	color: #707070;
}

.cart-using-table td p{
	margin-bottom: 3px;
}

.cart-using-sp{
	border: none;
	color: white;
	font-weight:bold;
	background:#bababa;
	padding: 1px 3px 1px 3px;
	font-size: 11px;
	border-radius: 3px;
}














































