@charset "UTF-8";

* {
	margin: 0px;
	list-style: none;
	padding: 0px;
	font-family: Montserrat,Nanum Barun Gothic,sans-serif;
}
header{
	position: fixed;
	top:0px;
	height: 74px;
	width: 100%;
	background-color: green;
	margin-bottom: 10px;
}
section{
	margin-top:74px;
	width: 100%;
	height: 500px;
}
footer{
	width: 100%;
	height: 969px;
	background-color: maroon;
	color: white;
	text-align: center;
}

/*ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.login-img{
	width: 65%;
	background-color: black;
	height: inherit;
	float: left;
}

.login{
	width: 35%;
	height: inherit;
	float: left;
}
.login-form{
	width:100%;
	height:853px;
	margin-top: 116px;
}
.login-form-tt{
	width: 500px;
	margin:auto;
	padding-top: 30px;
	height: 80%;
}
.login-form-tt-box{
	margin-top: 0;
	width:100%;
	height:85px;
	margin-bottom: 30px;
	text-align: center;
}
.login-form-tt-name{
	font-weight: bold;
	font-size: 19px;
	color: black;
	text-align:center;
	letter-spacing: -1px;
	padding-bottom: 15px;
}

.login-form-table{
	width: 445px;
	height: 567px;
	margin:55px auto;

}
.login-form-id{
	width: 100%;
	height: 53px;
	
	color: white;
	
}
.login-form-id-ip{
	width : 95%;
	height:28px;
	line-height: 28px;
	padding: 2px 2px 2px 3px;
	border: 0 none;
	margin-bottom: 5px;
	color: #000;
	font-size: 15px;
	border-bottom: 1px solid #d3d3d3;
}
.login-form-pw{
	width: 100%;
	height: 53px;
	margin-top:33px;
	color: white;
}
.login-form-pw-ip{
	width : 95%;
	height:28px;
	line-height: 28px;
	padding: 2px 2px 2px 3px;
	border: 0 none;
	margin-bottom: 5px;
	color: #000;
	font-size: 15px;
	border-bottom: 1px solid #d3d3d3;
}
.login-form-btn{
	width: 100%;
	height: 56px;
	margin-top: 16px;
}
.btn-login{
	width:calc(98%/2);
	height:56px;
	color: white;
	background-color:black;
	text-align: center;
	padding: 18px 0;
	font-size: 15px;
	text-decoration: none;
	float: left;
	border: 0 none;
}
.login-form-find{
	text-align:center;
	width: 100%;
	height: 19px;
	line-height: 19px;
	margin-top: 52px;
	font-size: 15px;
}
.sns-area{
	color: #2e2e2e;
	overflow: hidden;
	border: 0;
	clear: both;
	padding: 0;
	text-align: center;
	margin: 50px auto;
}

.sns-area li{
	margin: 10px 0 10px 0;
	width: 100%;
}

.sns-btn{
	padding: 0 7px 0 11px;
	font-size: 14px;
	text-decoration: none;
	width: 100%;
	font-weight:bold;
	height: 40px;
	display: block;
	line-height: 40px;
	transition-duration: 0.3s;
}
