<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="imagesMapper">
  
 
  	<!--이미지 insert  -->
	<insert id="imagesInsert" parameterType="ImagesVO">
		
		insert into images values(images_seq.nextval,#{pro_num}, #{pro_main}, #{sumnale}, #{front}, #{back}, #{pro_model}, #{pro_full}, #{gif}, #{pro_info}, #{pro_sizecut} )
	
	</insert>  	
  	
  	<!--이미지 리스트  -->
  	<select id="imagesList" parameterType="Integer" resultType="ImagesVO">
  		select * from images where pro_num=#{pro_num}
  	</select>
 
	<!--이미지 업데이트 -->
	<!-- <update id="imagesUpdate" parameterType="ImagesVO">
		
		update images set pro_main=#{pro_main}, sumnale=#{sumnale}, front=#{front}, back=#{back},pro_model=#{pro_model}, pro_full=#{pro_full},gif=#{gif}, pro_info=#{pro_info}, pro_sizecut=#{pro_sizecut}
		where pro_num=#{pro_num}
	
	</update> -->
  
  </mapper>