<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="productMapper">

	<!--insert -->
	<insert id="productInsert" parameterType="ProductVO">
		insert into product(pro_num, cat_ref, pro_name, pro_price, pro_count,pro_date, pro_contents, pro_warning, pro_size, pro_color, pro_vital)values(
		product_seq.nextval, #{cat_ref},#{pro_name}, #{pro_price},#{pro_count},sysdate, #{pro_contents},
		#{pro_warning},#{pro_size},#{pro_color},#{pro_vital})
	</insert>


	<!--List -->
	<sql id="sw">

		<choose>
			<when test="kind == 'kt'">
				where cat_ref like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kw'">
				where pro_name like '%'||#{search}||'%'
			</when>
			<otherwise>
				where pro_price like '%'||#{search}||'%'
			</otherwise>
		</choose>
	</sql>

	<select id="productCount" resultType="Integer" parameterType="Pager">
		select count(pro_num) from product
		<include refid="sw"></include>
	</select>


	<select id="productList" parameterType="Pager" resultType="ProductVO">
		select * from
		(select N.*, rownum R from
		(select * from product

		<include refid="sw"></include>

		order by pro_num desc) N)
		where R between #{startRow} and #{lastRow}

	</select>



	<!--delete -->
	<delete id="productDelete" parameterType="Integer">
		delete product where pro_num=#{pro_num}

	</delete>

</mapper>
  
  

  
  
 