<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="qnaMapper">
   
   <!--insert-->
   <insert id="qnaWrite" parameterType="QnaVO">
   	insert into qna values(#{id},#{admin_id},#{pro_num},qna_seq.nextval, #{title},#{contents},#{image},#{qna_pw},#{qna_seceret}, sysdate, qna_seq.currval,0,0)
   		
   </insert>
   
   
   
   </mapper>