@charset "UTF-8";

#listcontentWrap2 {
	background-color:orange;
    position: relative;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 150px;
}



#listcontent2 {
    margin-left: 215px;
    margin-right: 15px;
}

.title{
    margin: 0px 0 50px;
    text-align: center;
}

.title h2 {
    font-size: 20px;
    font-weight: 400;
    font-family: 'Montserrat',sans-serif;
}

.listpackage{
    margin: 0 auto 20px;
    position: relative;
}

.faqMenu {
    margin-bottom: 25px;
    position: relative;
}

.faqMenu ul {
    font-size: 0;
}

li {
    list-style: none;
}

.faqMenu ul li {
    margin-right: 25px;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
}

.faqMenu ul li a {
    color: #afafaf;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 3px;
}
/* 선택했을때 글씨 검고 두껍게 */
.active {
    color: #000;
    font-weight: bold;
}

.outsearch {
    color: #2e2e2e;
    font-size: 12px;
    position: absolute;
    top: -5px;
    right: 0;
    padding: 0!important;
    display: block;
}

.form-group select {
	height: 30px;
    appearance: none;
    padding-left: 5px;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 1px solid #000;
    font-weight: bold;
    cursor: pointer;
    margin: 0 2px 0 0;
    width: 72px;
    
}

.inputbox{
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
}
.inputbox input {
    height: 29px;
    line-height: 29px;
    padding: 0 4px;
    border: 0;
}

.form-group .btn {
	background: none;
}

.btn img {
    vertical-align: middle;
    color: black;
}

button {
	border: none;
}

.base_table{
	clear: both;
}

table {
	background-color: Lightgray;
    border-top: 2px solid #000;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.base_table table {
    position: relative;
    margin: 10px 0 0;
    border: 1px solid #eaeaea;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: #fff;
    line-height: 1.5;
    font-size: 12px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
.center {
    text-align: center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody td {
    padding: 0;
    border: 0;
}

.base_table td {
    padding: 11px 10px 10px;
    border-top: 1px solid #eaeaea;
    color: #353535;
    vertical-align: middle;
}

li {
    list-style: none;
}

.navMenu2 > li {
	font-size: 0;
    padding: 12px 15px;
    text-align: left;
}

.cate {
	background-color: lightgreen;
    width: 150px;
    text-align: center;
}

.navMenu2 > li .cate {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

.subjectList .navMenu2 > li a {
	background-color: lime;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}
.subMenu {
    font-size: 14px;
    padding: 20px 0;
}

.navMenu2 > li ul .answerTxt {
    display: inline-block;
    vertical-align: top;
    width: 900px;
    font-size: 12px;
    word-break: keep-all;
}
