<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="faqMapper">

	<sql id="bs">
		<choose>
			<when test="kind == 'kt'">
				where title like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kw'">
				where writer like '%'||#{search}||'%'
			</when>
			<when test="kind == 'kc'">
				where contents like '%'||#{search}||'%'
			</when>
		</choose>
	</sql>
	<!-- FAQ List -->
	<select id="faqList" parameterType="Pager" resultType="FAQVO">
		select * from
		(select N.*, rownum R from
		(select * from faq
		<include refid="bs"></include>
		order by faq_num desc) N)
		where R between #{startRow} and #{lastRow}
	</select>


	<!-- faq Count -->
	<select id="faqCount" resultType="Integer" parameterType="Pager">
		select count(faq_num) from faq
		<include refid="bs"></include>
	</select>

	<!-- Write -->
	<insert id="faqWrite" parameterType="FAQVO">
		<selectKey order="BEFORE" resultType="Integer"
			keyProperty="faq_num">
			select faq_seq.nextval from dual
		</selectKey>

		insert into faq values
		(#{admin_id}, #{faq_num}, #{faq_title},
		#{faq_contents}, #{faq_cat}, sysdate)
	</insert>

	<!-- Select -->
	<select id="faqSelect" parameterType="FAQVO" resultType="FAQVO">
		select *
		from faq where faq_num=#{faq_num}
	</select>

	<!-- Delete -->
	<delete id="faqDelete" parameterType="FAQVO">
		delete faq where
		faq_num=#{faq_num}
	</delete>

	<!-- Update -->
	<update id="faqUpdate" parameterType="FAQVO">
		update faq set
		faq_title=#{faq_title}, faq_contents=#{faq_contents},
		faq_cat=#{faq_cat}, faq_date=sysdate
		where faq_num=#{faq_num}
	</update>
	
</mapper>