<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="wishListMapper">
  
  <insert id="wishListInsert" parameterType="wishlist">
  	
  	insert into wishlist(wish_num, image, id, pro_num, pro_info, price, price_point, delivery_cost,sum_price)
  	values(wish_seq.nextval,#{image}, #{id}, #{pro_num}, #{pro_info}, #{price}, #{price_point}, #{delivery_cost},#{sum_price})
  	
  </insert>
  
  <select id="wishListGetSum" parameterType="wishlist" resultType="Integer">
  	
  	select sum_price from wishlist where wish_num = (select max(wish_num) from wishlist where id = #{id})
  	
  </select>
  
  
  <select id="wishListSelectList" parameterType="wishlist" resultType="wishlist">
  
  	select * from wishlist where id=#{id} order by wish_num desc
  
  </select>
  
  <delete id="wishListDelete" parameterType="wishlist">
  
  	delete wishlist where wish_num = #{wish_num}
  
  </delete>
  
  <update id="wishListSetSum" parameterType="wishlist">
  
  update wishlist set sum_price = #{sum_price} where wish_num = (select max(wish_num) from wishlist where id=#{id})
  
  </update>
  
  
  </mapper>