<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
    <configuration>
  	<typeAliases >
  		<typeAlias type="java.lang.String" alias="String"/>
  		<typeAlias type="java.lang.Integer" alias="Integer"/>
  		<typeAlias type="java.util.List" alias="List"/>
  		<typeAlias type="com.diego.mid.util.Pager" alias="Pager"/>
  		<typeAlias type="com.diego.mid.model.board.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.diego.mid.model.board.FAQVO" alias="FAQVO"/>
  		<typeAlias type="com.diego.mid.model.admin.AdminVO" alias="AdminVO"/>
  		<typeAlias type="com.diego.mid.model.board.FAQCategoryVO" alias="FAQCategoryVO"/>
  	</typeAliases>
  </configuration>